button {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btn {
  background: $color-blue;
  color: #fff;
  display: inline-block;
  height: auto;
  position: relative;
  border-radius: 6px;
  padding: 15px 7px;

  &__pagination {
    min-width: 100px;
  }

  &__previous {
    margin-right: 20px;
    
  }
}
