// flex helpers
//-------------------------------
//display
.h-display-flex {
  display: flex;
}

//flex-wrap 
.h-flex-wrap {
  flex-wrap: wrap;
}

.h-flex-no-wrap {
  flex-wrap: nowrap;
}

.h-flex-1 {
  width: calc(100%/1);
}

.h-flex-2 {
  width: calc(100%/2);
}
.h-flex-3 {
  width: calc(100%/3);
}
.h-flex-4 {
  width: calc(100%/4);
}
.h-flex-5 {
  width: calc(100%/5);
}
.h-flex-6 {
  width: calc(100%/6);
}


// justify-content
.h-justify-content-center {
  justify-content: center;
}

.h-justify-content {

  &-center {
    justify-content: center;
  }// .h-justify-content-center

  &-flex-end {
    justify-content: flex-end;
  }// .h-justify-content-flex-end
}// .h-justify-content

// align-items

.h-align-items {

  &-center {
      align-items: center;
  }// .h-align-items-center

  &-flex-end {
      align-items: flex-end;
  }// .h-align-items-flex-end
}// .h-align-items

// align-content
.h-align-content-flex-end {
  align-content: flex-end;
}