// flex helpers
//-------------------------------
//display
.h-display-flex {
  display: flex;
}

//flex-wrap 
.h-flex-wrap {
  flex-wrap: wrap;
}

.h-flex-no-wrap {
  flex-wrap: nowrap;
}

.h-flex-1 {
  width: calc(100%/1);
}

.h-flex-2 {
  width: calc(100%/2);
}
.h-flex-3 {
  width: calc(100%/3);
}
.h-flex-4 {
  width: calc(100%/4);
}
.h-flex-5 {
  width: calc(100%/5);
}
.h-flex-6 {
  width: calc(100%/6);
}


// justify-content
.h-justify-content-center {
  justify-content: center;
}

.h-justify-content {

  &-center {
    justify-content: center;
  }// .h-justify-content-center

  &-flex-end {
    justify-content: flex-end;
  }// .h-justify-content-flex-end
}// .h-justify-content

// align-items

.h-align-items {

  &-center {
      align-items: center;
  }// .h-align-items-center

  &-flex-end {
      align-items: flex-end;
  }// .h-align-items-flex-end
}// .h-align-items

// align-content
.h-align-content-flex-end {
  align-content: flex-end;
}


// Loading State

.loader {
  margin-top: 25px;
  border: 16px solid $color-blue; /* Light grey */
  border-top: 16px solid $color-red; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading {
  &__heading-container {
    text-align: center;
    width: 100%;
  }
}

.loading-state {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}