.table {

  &__section {
    margin: 50px;
  }

} // .table


.datagrid-table {

  .datagrid-row:nth-child(odd) {
    background-color: #fdfdfd;
    :hover {
      background-color: #e8e8e8;
    }
  } // .table .datagrid-row:nth-child(odd) td

}
