.table {
  
  &__options,
  &__pagination {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  } // .table__options 
  // .table__pagination

  &__container {
    overflow-x:auto;
  }

  &__data {
    margin: 25px 0;
    width: 100%;
    // table-layout: fixed ;

    @include media-query('tablet-large'){
      height: 550px;
    }
  } // .table__data

  td {
    min-width: 150px;
    max-width: 150px;
  }
} // .table

.movie-table {
  display: inline-block;

  &__container {
    border: 1px solid $color-black;
    display: block;
    margin: 0 15px;
  } // .movie-table__container

  &__head {
    width: 100%;
    min-width: 1200px;
  } // .movie-table__head

  tr {
    border-right: 1px solid $color-dk-grey ;
  } // .movie-table tr

  &__header {

    th {
      color: $color-black;
      border-top: 1px solid $color-dk-grey;
      background-color: $color-white;
      border-left: 1px solid $color-dk-grey;
      padding: 10px;
      min-width: 150px;
      max-width: 150px;
    } // .movie-table__header th
  } // .movie-table__header

  &__body {

    tr:first-child td {
        border-top: 1px solid $color-dk-grey;
    } // .movie-table__body tr:first-child td

    tr:nth-child(odd) td {
      background-color: $color-grey;
    } // .movie-table__body tr:nth-child(odd) td

    td, 
    td:first-child {
      border-left: 1px solid $color-dk-grey;
      padding: 10px;
      font-size: $font-size-small;
    } // .movie-table__body td 
    // .movie-table__body td:first-child
  } // .movie-table__body


}// .movie-table