// -----------------------------------------
// Colors
// -----------------------------------------

//atd brand colors
$color-red: #f0533f;
$color-red-10: rgba(240, 83, 63, .25);
$color-white: #ffffff;
$color-grey: #e1ebf4;
$color-black: #001D34;
$color-black-5: rgba(0, 29, 52, .05);
$color-blue: #0076be;
$color-blue-10: rgba(0, 118, 190, 0.10);
$color-dk-grey: #787878;


// Helper colors for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

// --------------------------------------------
// Fonts
// --------------------------------------------
$avant-garde-gothic: 'Open Sans', 'san-serif';

$font-family-primary: $avant-garde-gothic;

// Font Weight
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-semi-bold:     600;
$font-weight-bold:          700;
$font-weight-extra-bold:    800;

// Font Sizes
$font-size-x-small: 12px;
$font-size-small:   14px;
$font-size-base:    16px;
$font-size-medium:  18px;
$font-size-h1:      32px;
$font-size-h2:      26px;
$font-size-h3:      20px;

// -----------------------------------------
// Path
// -----------------------------------------
$image-path: '';

// -----------------------------------------
// Breakpoints used with the media-query mixin
// -----------------------------------------
$breakpoints: (
    "phone-small":    340px,
    "phone":          400px,
    "phone-large":    480px,
    "media-500":      500px,
    "media-560":      560px,
    "tablet-small":   640px,
    "media-767":      767px,
    "tablet":         768px,
    "media-1023":     1023px,
    "tablet-large":   1024px,
    "media-1150":     1150px,
    "media-1200":     1200px,
    "desktop":        1248px,
    "media-1300":     1300px,
    "media-1400":     1400px,
    "desktop-large":  1440px,  
);

// -----------------------------------------
// grid-width
// -----------------------------------------
$grid-default-width: 1440px;

$grid-2x-large: 1920px;
$grid-x-large: 1200px;
$grid-large: 1024px;
$grid-medium: 768px;
$grid-small: 640px;



