<div class="table__size">
  <ng-container *ngIf="hideResultNotFinished">
    <label>Show 
      <!-- setup as array use ng for to set -->
      <select name="tableSize" class="table__size-selection" (change)="updateResults($event)" >
        <option *ngFor="let value of rowsPerPageList" value="{{value}}">{{value}}</option>
      </select> results
    </label>
  </ng-container>

</div>
<div class="table__search-container">
  <div class="table__search">
    <label>
      <input type="text" 
        (keyup)="searchTable($event)"
        class="input table__search-input" 
        placeholder="Search Table">
    </label>
  </div>
</div>
