
  <div class="table__options"
    [searchTable]=searchTable
    app-table-options>
  </div>
  <table class="table__data">
    <thead app-table-head
      [sortRows]="sortRows">
    </thead>
    <!-- setup "this._dataService.isDataAvailable" to be decoupled from application -->
    <ng-container *ngIf="this._dataService.isDataAvailable"> 
      <tbody app-table-body 
        [paginatedRows]="paginatedRows"
        [columns]="columns"
        [paginatedPage]="paginatedPage">
      </tbody>
    </ng-container> 
  </table>

  <div class="table__pagination">
    <div class="table__results">
      <p>Showing {{ startRange }} - {{ endRange }} of {{ resultNumber }} results</p>
    </div>

    <div class="table__pagination-controls">
      <!-- nice-to-have: setup number pagination if time allowed -->
      <button (click)="previous()">previous</button> 
      <button (click)="next()">next</button>
    </div>
  </div>
