
<ng-container *ngIf="isLoading === false; else loadingBlock">

  <ng-container *ngIf="isApiConnected === true; else elseBlock">
    <div class="table__section">

      <div class="table__section-heading-container">
        <h2 class="table__section-heading">Data Table</h2>
      </div>

      <div class="table__wrapper">
        <div class="table__options"
          [searchTable]=searchTable
          [rowsPerPageList]=rowsPerPageList
          app-table-options>
        </div>

        <div class="table__container">
          <table class="table">
            <thead app-table-head
              [sortRows]="sortRows">
            </thead>
            <!-- setup "this._dataService.isDataAvailable" to be decoupled from application -->
            <ng-container *ngIf="this._dataService.isDataAvailable"> 
              <tbody >
                <tr *ngFor="let row of paginatedRows">
                  <td *ngFor="let column of columns">{{ row[column] }}</td>
                </tr>
              </tbody>
            </ng-container> 
            <tfoot app-table-head
              [sortRows]="sortRows">
            </tfoot>
          </table>
        </div>

        <div class="table__pagination">
          <div class="table__results">
            <p>Showing {{ startRange }} - {{ endRange }} of {{ resultNumber }} results</p>
          </div>

          <div class="table__pagination-controls">
            <!-- nice-to-have: setup number pagination if time allowed -->
            <button class="btn btn-primary" (click)="previous()">previous</button> 
            <button class="btn btn-primary" (click)="next()">next</button>
          </div>
        </div>

      </div>
    </div>
  </ng-container>

  <!-- add as api error component -->
  <ng-template #elseBlock>
    <div class="error">
      <h2 class="table__section-heading">Please resolve api connection!!!!</h2>
    </div>
  </ng-template>
</ng-container>

<!-- add as loading component -->
<ng-template #loadingBlock>
  <div class="loading-state">
    <div class="loading__heading-container">
      <h2 class="table__section-heading">Data Table is loading!</h2>
    </div>
    <div class="loader"></div>
  </div>
</ng-template>