
<ng-container *ngIf="isLoading === false; else loadingBlock">

  <ng-container *ngIf="isApiConnected === true; else elseBlock">
    <div class="table__section">

      <div class="table__section-heading-container">
        <h2 class="table__section-heading">Data Table</h2>
      </div>

      <div class="table__wrapper">

        <ng-container *ngIf="this._dataService.isDataAvailable"> 
          <clr-datagrid [clrDgLoading]="isLoading">
            <clr-dg-column *ngFor="let column of columns" [clrDgField]="column">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{ column }}
              </ng-container>
            </clr-dg-column>

            <clr-dg-placeholder>We couldn't find any shows!</clr-dg-placeholder>
            <!-- *ngFor when server driven table interaction -->
            <!-- *clrDgItems built in if all data on client -->
            <clr-dg-row *clrDgItems="let row of rows">
                <clr-dg-cell *ngFor="let column of columns">{{ row[column] }}</clr-dg-cell>
            </clr-dg-row>
            
            <clr-dg-footer>
              <!-- Optional customization of hide/show columns toggle -->
              <clr-dg-column-toggle>
                <clr-dg-column-toggle-title>Toggle Columns</clr-dg-column-toggle-title>
                <clr-dg-column-toggle-button>Select Item</clr-dg-column-toggle-button>
              </clr-dg-column-toggle>
              <!-- Inside the full datagrid declaration -->
              <clr-dg-pagination #pagination [clrDgPageSize]="10">
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} rows
                <clr-dg-page-size [clrPageSizeOptions]=rowsPerPageList>Shows per page</clr-dg-page-size>
              </clr-dg-pagination>              
            </clr-dg-footer>

        </clr-datagrid>
      </ng-container> 



      </div>
    </div>
  </ng-container>

  <!-- add as api error component -->
  <ng-template #elseBlock>
    <div class="error">
      <h2 class="table__section-heading">Please resolve api connection!!!!</h2>
    </div>
  </ng-template>
</ng-container>

<!-- add as loading component -->
<ng-template #loadingBlock>
  <div class="loading-state">
    <div class="loading__heading-container">
      <h2 class="table__section-heading">Data Table is loading!</h2>
    </div>
    <div class="loader"></div>
  </div>
</ng-template>